@model  List<JsonTestMVC.Models.Student>

<html>
<head>
    <link href="/Content/Student.css" rel="stylesheet" />
</head>

<body>
    <table class="table" id="student">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>First Name </th>
                <th>Last Name </th>
                <th>Favourite Game</th>
            </tr>
        </thead>

        @foreach (var d in Model)
        {
            <tr>
                <td>@d.ID</td>
                <td>@d.FirstName</td>
                <td>@d.LastName</td>
                <td>@d.FavouriteGames</td>
            </tr>
        }
    </table>
    <br /><br />
    Serial No <input type="text" value="@ViewBag.SerialNo" />
    Hobbies Football <input type="checkbox" value="Football" checked="@(ViewBag.hobby=="Football" ? true : false)" />
    Hocky <input type="checkbox" value="Hocky" checked="@(ViewBag.hobby == "Hocky" ? true : false)" />
    Carrom <input type="checkbox" value="Carrom" checked="@(ViewBag.hobby == "Carrom" ? true : false)" />

    Sex Male <input type="radio" value="M" checked="@(ViewBag.sex == "M" ? true : false)" />
    Female <input type="radio" value="F" checked="@(ViewBag.sex == "F" ? true : false)" />
</body>
</html>
